%ul.nav-links.new-session-tabs.nav-tabs.nav{ class: ('custom-provider-tabs' if form_based_providers.any?) }
  - if crowd_enabled?
    %li.nav-item
      = link_to "Crowd", "#crowd", class: 'nav-link active', 'data-toggle' => 'tab'
  - if kerberos_enabled?
    %li.nav-item
      = link_to "Kerberos", "#kerberos", class: "nav-link #{active_when(!crowd_enabled? && !ldap_enabled?)}", 'data-toggle' => 'tab'
  - @ldap_servers.each_with_index do |server, i|
    %li.nav-item
      = link_to server['label'], "##{server['provider_name']}", class: "nav-link #{active_when(i.zero? && !crowd_enabled?)}", 'data-toggle' => 'tab'
  - if password_authentication_enabled_for_web?
    %li.nav-item
      = link_to 'Standard', '#login-pane', class: 'nav-link', 'data-toggle' => 'tab'
  - if allow_signup?
    %li.nav-item
      = link_to 'Register', '#register-pane', class: 'nav-link', 'data-toggle' => 'tab'
